# Database connection
DATABASE_URL="postgresql://username:password@localhost:5432/loop?schema=public"

# NextAuth configuration
NEXTAUTH_SECRET="your-nextauth-secret-key-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"
